@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "variables";

.centered {
   margin: 0 auto;
   text-align: center;
}

body {
    color: white !important;
    background-image: url("../../images/doge.jpg");
}

text {
    fill: white !important;
}

.col-sm-6 {
    margin-bottom: 5%;
}

.col-sm-12 {
    margin-bottom: 5%;
}

#daily_chore1 {
    background-color: #FFB6C1;
}

#chore1 {
    background-color: #0057e7;
}

#chore2 {
    background-color: #008744;
}

#chore3 {
    background-color: #d62d20;
}

#chore4 {
    background-color: #ffa700;
}

#chore-grid {
    margin: 20px;
}
